Örnek Teorisi

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80,10000)

In [3]:
populasyon[0:10]

array([13, 42, 23, 50, 79, 72, 10, 33,  2, 79])

In [7]:
#örneklem çekimi
np.random.seed(115)
orneklem = np.random.choice(a= populasyon, size=100)
orneklem[0:10]

array([48, 76, 30, 25, 79, 20, 21,  1,  4, 70])

In [8]:
orneklem.mean()

42.22

In [9]:
populasyon.mean()

39.4922

In [11]:
#örneklem dağılımı
orneklem1 = np.random.choice(a=populasyon, size=100)
orneklem2 = np.random.choice(a=populasyon, size=100)
orneklem3 = np.random.choice(a=populasyon, size=100)
orneklem4 = np.random.choice(a=populasyon, size=100)
orneklem5 = np.random.choice(a=populasyon, size=100)
orneklem6 = np.random.choice(a=populasyon, size=100)
orneklem7 = np.random.choice(a=populasyon, size=100)
orneklem8 = np.random.choice(a=populasyon, size=100)
orneklem9 = np.random.choice(a=populasyon, size=100)
orneklem10 = np.random.choice(a=populasyon, size=100)

In [14]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean()+
orneklem6.mean() + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean()) / 10

39.428999999999995

In [15]:
# daha cok örneklem çekildiğinde ana kitle ortalamasına daha da yaklaşır.

BETİMSEL İSTATİSTİKLER

In [16]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [17]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [19]:
!pip install researchpy

Requirement already satisfied: researchpy in c:\users\melikeapalak\anaconda3\lib\site-packages (0.3.5)
Requirement already satisfied: scipy in c:\users\melikeapalak\anaconda3\lib\site-packages (from researchpy) (1.10.0)
Requirement already satisfied: statsmodels in c:\users\melikeapalak\anaconda3\lib\site-packages (from researchpy) (0.13.5)
Requirement already satisfied: numpy in c:\users\melikeapalak\anaconda3\lib\site-packages (from researchpy) (1.23.5)
Requirement already satisfied: patsy in c:\users\melikeapalak\anaconda3\lib\site-packages (from researchpy) (0.5.3)
Requirement already satisfied: pandas in c:\users\melikeapalak\anaconda3\lib\site-packages (from researchpy) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\melikeapalak\anaconda3\lib\site-packages (from pandas->researchpy) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\melikeapalak\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: six in c:\users\melikeapalak\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\melikeapalak\anaconda3\lib\site-packages (from statsmodels->researchpy) (22.0)

In [21]:
import researchpy as rp
rp.summary_cont(df[["total_bill","tip","size"]])

C:\Users\MelikeApalak\anaconda3\lib\site-packages\researchpy\summary.py:60: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [23]:
rp.summary_cat(df[["sex","smoker","day"]])

C:\Users\MelikeApalak\anaconda3\lib\site-packages\researchpy\summary.py:225: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [24]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [26]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

İş Uygulaması: Fiyat Stratejisi Karar Destek

In [27]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)

In [28]:
fiyatlar.mean()

60.44

In [29]:
import statsmodels.stats.api as sms

In [30]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(58.667511054131154, 62.21248894586884)

# Olasılık Dağılımları

Bernoulli Dağılımı

In [3]:
from scipy.stats import bernoulli

In [4]:
p = 0.6

In [5]:
rv = bernoulli(p)
rv.pmf(k=1) # true olma olasılığı

0.6

Büyük Sayılar Yasası

In [6]:
# Bir rassal değişkenin uzun vadeli kararlılığını tanımlayan olasılık teoremidir.

In [10]:
import numpy as np
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0,2, size = deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış sayısı:", deney_sayisi, "---", "yazı olasılığı : %2f" % (yazi_olasiliklari))

Atış sayısı: 2 --- yazı olasılığı : 0.500000
Atış sayısı: 4 --- yazı olasılığı : 0.000000
Atış sayısı: 8 --- yazı olasılığı : 0.625000
Atış sayısı: 16 --- yazı olasılığı : 0.437500
Atış sayısı: 32 --- yazı olasılığı : 0.468750
Atış sayısı: 64 --- yazı olasılığı : 0.562500
Atış sayısı: 128 --- yazı olasılığı : 0.507812
Atış sayısı: 256 --- yazı olasılığı : 0.527344
Atış sayısı: 512 --- yazı olasılığı : 0.529297
Atış sayısı: 1024 --- yazı olasılığı : 0.501953
Atış sayısı: 2048 --- yazı olasılığı : 0.485840
Atış sayısı: 4096 --- yazı olasılığı : 0.494873
Atış sayısı: 8192 --- yazı olasılığı : 0.495850
Atış sayısı: 16384 --- yazı olasılığı : 0.499573
Atış sayısı: 32768 --- yazı olasılığı : 0.500000
Atış sayısı: 65536 --- yazı olasılığı : 0.496780
Atış sayısı: 131072 --- yazı olasılığı : 0.499733
Atış sayısı: 262144 --- yazı olasılığı : 0.501255
Atış sayısı: 524288 --- yazı olasılığı : 0.500130
Atış sayısı: 1048576 --- yazı olasılığı : 0.500900

In [11]:
# deney sayısı arttıkça ilgili olaya ilişkin ortaya konması beklenen olasılıksal
# ifadeler kendini açığa çıkarmak durumundadır.

Binom Dağılımı

In [12]:
from scipy.stats import binom

In [13]:
p = 0.01 
n = 100 #deneme sayısı
rv = binom(n, p)
print(rv.pmf(1)) #olasılık kütle fonks
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764972666
0.002897787123761478
7.006035693977194e-08

Poisson Dağılımı

In [14]:
from scipy.stats import poisson

In [16]:
lambda_ = 0.1
rv = poisson(mu=lambda_)
rv.pmf(k=0)

0.9048374180359595

In [17]:
rv.pmf(k=3)

0.00015080623633932676

In [19]:
rv.pmf(k=5)

7.54031181696634e-08

Normal Dağılım

In [20]:
from scipy.stats import norm

In [22]:
#90dan fazla olması
1- norm.cdf(90,80,5)

0.02275013194817921

In [23]:
#70ten fazla olması
1- norm.cdf(70,80,5)

0.9772498680518208

In [24]:
#73ten az olması
norm.cdf(73,80,5)

0.08075665923377107

In [25]:
#85 ile 90 arasında olması
norm.cdf(90,80,5) - norm.cdf(85,80,5)

0.13590512198327787